_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-26 20:52:45--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.99.37
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.99.37|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  74.1MB/s    in 2.6s

2019-03-26 20:52:48 (74.1 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

## Goal: Reproduce this example

The first two orders for user id 1:

In [4]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [5]:
!ls -lh

total 681M
-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [14]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')

aisles.shape

aisles.head()

display(example)

### departments

In [12]:
departments = pd.read_csv('departments.csv')

departments.shape

(21, 2)

### order_products__prior

In [20]:
order_products__prior = pd.read_csv('order_products__prior.csv')

order_products__prior.shape

order_products__prior.groupby('order_id')['product_id'].count().mean()

order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

### order_products__train

In [19]:
order_products__train = pd.read_csv('order_products__train.csv')

order_products__train.shape

order_products__train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

### orders

In [21]:
orders = pd.read_csv('orders.csv')

orders.shape

orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

### products

In [22]:
products = pd.read_csv('products.csv')

products.shape

products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

## Concatenate order_products__prior and order_products__train

In [0]:
order_products = pd.concat([order_products__prior, order_products__train])

order_products.shape, order_products__prior.shape, order_products__train.shape

assert len(order_products) == len(order_products__prior) + len(order_products__train)

assert (len(order_products.columns) == 
        len(order_products__prior.columns) == 
        len(order_products__train.columns))


rows, columns = order_products.shape

print('Rows:', rows)
print('Columns:', columns)


a_rows, a_columns = order_products__prior.shape
b_rows, b_columns = order_products__train.shape
c_rows, c_columns = order_products.shape

assert a_columns == b_columns == c_columns
assert a_rows + b_rows == c_rows

## Get a subset of orders — the first two orders for user id 1

In [0]:
condition = (orders['user_id'] == 1) & (orders['order_number'] <= 2)

columns = ['user_id', 
           'order_id', 
           'order_number', 
           'order_dow', 
           'order_hour_of_day']

subset = orders.loc[condition, columns]

## Merge dataframes

In [33]:
columns = ['order_id', 'add_to_cart_order', 'product_id']

merged = pd.merge(subset, order_products[columns], 
                  how='inner', on='order_id')


subset.shape, order_products.shape, merged.shape

subset

final = pd.merge(merged, products[['product_id', 'product_name']], 
                 how='inner', on='product_id')

merged.shape, products[['product_id', 'product_name']].shape, final.shape

((11, 7), (49688, 2), (11, 8))

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [2]:
import pandas as pd

!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
  
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

%cd instacart_2017_05_01

products = pd.read_csv('products.csv')

products.head()

order_products__prior = pd.read_csv('order_products__prior.csv')

order_products__train = pd.read_csv('order_products__train.csv')

order_products = pd.concat([order_products__prior, order_products__train])


# count the number of times each item is ordered and get top 10
top10 = (order_products['product_id'].value_counts()[:10].index.tolist()) 

# set condition
condition_top10 = (order_products['product_id'].isin(top10))

# columns to use
op_columns = ['order_id', 'product_id']

# select only products from top 10 most ordered
op_top10 = order_products.loc[condition_top10, op_columns]

merged_10 = pd.merge(products[['product_id', 'product_name']], op_top10)

print(merged_10['product_name'].value_counts(), '\n\n')
print(order_products['product_id'].value_counts()[:10])

orders_count = [order_products['product_id'].value_counts().index.tolist(),
                order_products['product_id'].value_counts().values.tolist()]

orders_count[1]

--2019-03-27 14:35:52--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.177.197
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.177.197|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  36.7MB/s    in 6.1s

2019-03-27 14:35:59 (32.1 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv
/content/instacart_2017_05_01/instacart_2017_05_01
Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64


24852    491291
13176    394930
21137    275577
21903    251705
47209    220877
47766    184224
47626    160792
16797    149445
26209    146660
27845    142813
Name: product_id, dtype: int64

[491291,
 394930,
 275577,
 251705,
 220877,
 184224,
 160792,
 149445,
 146660,
 142813,
 142603,
 117716,
 113936,
 109412,
 105026,
 99728,
 92889,
 91251,
 88078,
 87272,
 86748,
 85005,
 83320,
 80493,
 79245,
 79006,
 78056,
 76929,
 75752,
 75655,
 75233,
 74235,
 74172,
 73050,
 71641,
 71151,
 70804,
 70714,
 70076,
 66827,
 64589,
 63114,
 63021,
 61669,
 61116,
 60919,
 60071,
 59878,
 58312,
 58269,
 58185,
 58005,
 57831,
 56643,
 54507,
 54094,
 52497,
 52369,
 52323,
 52124,
 52021,
 51738,
 50808,
 49374,
 48512,
 47450,
 46932,
 44976,
 44828,
 44737,
 44701,
 44477,
 44460,
 43261,
 42274,
 42165,
 41812,
 41303,
 41052,
 40498,
 40373,
 39577,
 39271,
 38686,
 38631,
 38537,
 37689,
 37566,
 37562,
 37298,
 37102,
 36968,
 36869,
 36620,
 36048,
 36028,
 35551,
 35384,
 34248,
 34211,
 33800,
 33708,
 33242,
 33143,
 33130,
 32658,
 32270,
 32212,
 32194,
 32069,
 31432,
 31196,
 30970,
 30866,
 30731,
 30565,
 30517,
 30310,
 30229,
 30009,
 29507,
 29174,
 29047,
 28850,
 28300,
 28267,
 27981,
 27959,
 27890,
 27871,
 27813,
 27738,
 27713,
 27679,
 27555,
 27402,
 27394,
 27200,
 26962,
 26625,
 26575,
 26027,
 25972,
 25941,
 25530,
 25414,
 25388,
 25115,
 25045,
 24888,
 24818,
 24794,
 24491,
 24331,
 24276,
 24175,
 23944,
 23941,
 23844,
 23533,
 23424,
 22943,
 22834,
 22576,
 22562,
 22340,
 22335,
 22296,
 22252,
 22193,
 22137,
 22137,
 22132,
 21993,
 21610,
 21582,
 21562,
 21562,
 21405,
 21112,
 21041,
 21024,
 20981,
 20966,
 20921,
 20915,
 20887,
 20770,
 20752,
 20582,
 20562,
 20553,
 20552,
 20487,
 20483,
 20468,
 20435,
 20417,
 20344,
 20234,
 20209,
 20164,
 20016,
 19971,
 19962,
 19400,
 19198,
 19172,
 19145,
 19052,
 19041,
 19038,
 19031,
 18977,
 18914,
 18912,
 18899,
 18847,
 18800,
 18736,
 18692,
 18614,
 18487,
 18445,
 18382,
 18336,
 18260,
 18252,
 18195,
 18179,
 18132,
 18125,
 18083,
 17920,
 17829,
 17707,
 17596,
 17568,
 17534,
 17462,
 17435,
 17360,
 17333,
 17274,
 17168,
 17061,
 17056,
 17042,
 17028,
 16953,
 16874,
 16780,
 16664,
 16585,
 16584,
 16577,
 16479,
 16453,
 16375,
 16337,
 16316,
 16145,
 16075,
 16015,
 15942,
 15941,
 15939,
 15914,
 15905,
 15875,
 15821,
 15645,
 15642,
 15621,
 15592,
 15558,
 15514,
 15401,
 15397,
 15352,
 15326,
 15294,
 15276,
 15250,
 15209,
 15185,
 15152,
 15131,
 15090,
 15074,
 15063,
 15031,
 14894,
 14874,
 14851,
 14851,
 14848,
 14804,
 14777,
 14762,
 14692,
 14650,
 14614,
 14550,
 14480,
 14413,
 14397,
 14347,
 14334,
 14281,
 14264,
 14259,
 14237,
 14207,
 14183,
 14181,
 14160,
 14149,
 14109,
 14079,
 14051,
 14036,
 14022,
 14018,
 13972,
 13965,
 13908,
 13853,
 13847,
 13836,
 13807,
 13756,
 13725,
 13664,
 13651,
 13597,
 13564,
 13513,
 13476,
 13448,
 13426,
 13376,
 13374,
 13367,
 13366,
 13330,
 13292,
 13215,
 13189,
 13170,
 13133,
 13119,
 13119,
 13114,
 13101,
 13088,
 13043,
 13036,
 12994,
 12943,
 12936,
 12922,
 12912,
 12897,
 12890,
 12883,
 12836,
 12774,
 12765,
 12757,
 12752,
 12656,
 12638,
 12601,
 12594,
 12565,
 12561,
 12560,
 12560,
 12543,
 12530,
 12513,
 12439,
 12432,
 12398,
 12366,
 12360,
 12357,
 12318,
 12282,
 12249,
 12242,
 12193,
 12150,
 12128,
 12126,
 12113,
 12088,
 12070,
 12053,
 11987,
 11983,
 11979,
 11963,
 11953,
 11921,
 11913,
 11874,
 11839,
 11816,
 11782,
 11755,
 11750,
 11747,
 11727,
 11711,
 11702,
 11698,
 11695,
 11672,
 11618,
 11610,
 11595,
 11577,
 11565,
 11561,
 11548,
 11538,
 11522,
 11503,
 11488,
 11486,
 11409,
 11365,
 11355,
 11352,
 11316,
 11284,
 11265,
 11225,
 11214,
 11181,
 11158,
 11125,
 11118,
 11114,
 11062,
 11048,
 11044,
 11043,
 11031,
 11029,
 11026,
 11025,
 11018,
 11010,
 11005,
 11002,
 10976,
 10954,
 10940,
 10938,
 10920,
 10915,
 10896,
 10890,
 10868,
 10859,
 10857,
 10838,
 10834,
 10811,
 10797,
 10787,
 10781,
 10781,
 10780,
 10759,
 10755,
 10750,
 10728,
 10717,
 10690,
 10661,
 10657,
 10641,
 10618,
 10596,
 10551,
 10521,
 10509,
 10471,
 10468,
 10444,
 10435,
 10427,
 10380,
 10375,
 10300,
 10294,
 10275,
 10266,
 10250,
 10190,
 10162,
 10151,
 10143,
 10121,
 10102,
 10097,
 10030,
 9977,
 9962,
 9956,
 9946,
 9910,
 9879,
 9835,
 9812,
 9803,
 9792,
 9777,
 9764,
 9740,
 9736,
 9728,
 9695,
 9659,
 9649,
 9613,
 9584,
 9583,
 9517,
 9495,
 9462,
 9452,
 9413,
 9410,
 9397,
 9391,
 9389,
 9386,
 9373,
 9372,
 9350,
 9349,
 9276,
 9262,
 9253,
 9247,
 9243,
 9239,
 9233,
 9232,
 9189,
 9187,
 9183,
 9183,
 9137,
 9137,
 9118,
 9108,
 9108,
 9105,
 9103,
 9091,
 9082,
 9082,
 9048,
 9038,
 8977,
 8973,
 8959,
 8957,
 8933,
 8926,
 8923,
 8911,
 8905,
 8891,
 8878,
 8864,
 8858,
 8855,
 8851,
 8815,
 8807,
 8806,
 8792,
 8785,
 8773,
 8760,
 8742,
 8740,
 8727,
 8726,
 8725,
 8721,
 8720,
 8711,
 8705,
 8676,
 8672,
 8671,
 8661,
 8649,
 8648,
 8642,
 8640,
 8637,
 8621,
 8597,
 8585,
 8583,
 8578,
 8558,
 8555,
 8555,
 8541,
 8539,
 8512,
 8511,
 8511,
 8508,
 8497,
 8495,
 8493,
 8489,
 8479,
 8457,
 8452,
 8452,
 8448,
 8435,
 8423,
 8399,
 8391,
 8382,
 8354,
 8339,
 8307,
 8306,
 8306,
 8305,
 8303,
 8291,
 8290,
 8287,
 8279,
 8275,
 8252,
 8221,
 8204,
 8180,
 8177,
 8170,
 8164,
 8158,
 8153,
 8132,
 8129,
 8125,
 8120,
 8119,
 8114,
 8105,
 8092,
 8074,
 8044,
 8040,
 8023,
 8021,
 8018,
 8005,
 8001,
 7982,
 7975,
 7969,
 7969,
 7954,
 7942,
 7924,
 7921,
 7917,
 7903,
 7894,
 7894,
 7885,
 7883,
 7870,
 7853,
 7843,
 7838,
 7838,
 7835,
 7832,
 7828,
 7825,
 7822,
 7818,
 7816,
 7799,
 7791,
 7788,
 7775,
 7775,
 7773,
 7760,
 7748,
 7728,
 7696,
 7672,
 7667,
 7656,
 7648,
 7641,
 7628,
 7625,
 7620,
 7614,
 7603,
 7601,
 7591,
 7588,
 7577,
 7562,
 7556,
 7554,
 7550,
 7546,
 7543,
 7535,
 7535,
 7534,
 7531,
 7514,
 7507,
 7498,
 7474,
 7457,
 7445,
 7423,
 7420,
 7417,
 7413,
 7402,
 7369,
 7368,
 7343,
 7342,
 7332,
 7315,
 7314,
 7311,
 7305,
 7303,
 7292,
 7278,
 7270,
 7261,
 7260,
 7240,
 7239,
 7227,
 7220,
 7220,
 7205,
 7204,
 7196,
 7192,
 7186,
 7181,
 7181,
 7178,
 7158,
 7154,
 7126,
 7102,
 7086,
 7085,
 7084,
 7081,
 7076,
 7076,
 7068,
 7064,
 7062,
 7062,
 7054,
 7050,
 7043,
 7041,
 7037,
 7036,
 7022,
 7003,
 6995,
 6982,
 6973,
 6968,
 6966,
 6930,
 6919,
 6912,
 6909,
 6897,
 6875,
 6859,
 6851,
 6837,
 6837,
 6832,
 6823,
 6820,
 6816,
 6799,
 6795,
 6794,
 6794,
 6782,
 6779,
 6779,
 6773,
 6762,
 6761,
 6760,
 6758,
 6757,
 6756,
 6754,
 6744,
 6735,
 6721,
 6715,
 6709,
 6705,
 6702,
 6699,
 6699,
 6697,
 6697,
 6695,
 6674,
 6669,
 6642,
 6639,
 6633,
 6630,
 6620,
 6606,
 6596,
 6594,
 6590,
 6574,
 6571,
 6571,
 6570,
 6569,
 6568,
 6562,
 6559,
 6558,
 6547,
 6544,
 6542,
 6540,
 6528,
 6526,
 6516,
 6511,
 6509,
 6504,
 6494,
 6485,
 6482,
 6480,
 6458,
 6458,
 6447,
 6446,
 6437,
 6433,
 6424,
 6416,
 6409,
 6402,
 6401,
 6397,
 6383,
 6382,
 6361,
 6361,
 6352,
 6346,
 6346,
 6345,
 6333,
 6330,
 6323,
 6305,
 6301,
 6300,
 6288,
 6288,
 6280,
 6280,
 6257,
 6252,
 6251,
 6243,
 6237,
 6237,
 6229,
 6226,
 6222,
 6210,
 6204,
 6199,
 6186,
 6173,
 6164,
 6161,
 6148,
 6138,
 6136,
 6136,
 6134,
 6134,
 6104,
 6102,
 6093,
 6090,
 6080,
 6072,
 6068,
 6067,
 6067,
 6057,
 6056,
 6018,
 5985,
 5982,
 5976,
 5974,
 5957,
 5950,
 5948,
 5947,
 5943,
 5939,
 5936,
 5924,
 5922,
 5914,
 5906,
 5904,
 5903,
 5894,
 5892,
 5883,
 5871,
 5853,
 5843,
 5840,
 5833,
 5815,
 5814,
 5812,
 5807,
 5807,
 5803,
 5799,
 5788,
 5769,
 5748,
 5745,
 5743,
 5743,
 5743,
 5742,
 5742,
 5733,
 5729,
 5727,
 5722,
 5720,
 5720,
 5717,
 5717,
 5706,
 5702,
 5697,
 5696,
 5693,
 5691,
 5687,
 5687,
 5686,
 5680,
 5677,
 ...]