_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [48]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-03-28 16:40:31--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

1                       [ <=>                ]   6.28M   833KB/s               ^C

In [4]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [49]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","disbursement_method","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","2500","2500","2500"," 36 months"," 13.56%","84.92","C","C1","Chef","10+ years","RENT","55000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","109xx","NY","18.24","0","Apr-2001","1","","45","9","1","4341","10.3%","34","w","2386.02","2386.02","167.02","167.02","113.98","53.04","0.0","0.0","0.0","Feb-2019","84.92","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","16901","2","2","1","2","2","12560","69","2","7","2137","28","42000","1","11","2","9","1878","34360","5.9","0","0","140","212","1","1","0","1","","2","","0","2","5","3","3","16","7","18","5","9","0","0","0","3","100","0","1","0","60124","16901","36500","18124","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 18.94%","777.23","D","D2","Postmaster ","10+ years","MORTGAGE","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","713xx","LA","26.52","0","Jun-1987","0","71","75","13","1","12315","24.2%","44","w","29387.75","29387.75","1507.11","1507.11","612.25","894.86","0.0","0.0","0.0","Feb-2019","777.23","Mar-2019","Feb-2019","0","","1","Individual","","","","0","1208","321915","4","4","2","3","3","87153","88","4","5","998","57","50800","2","15","2","10","24763","13761","8.3","0","0","163","378","4","3","3","4","","4","","0","2","4","4","9","27","8","14","4","13","0","0","0","6","95","0","1","0","372872","99468","15000","94072","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4787.21","4787.21","353.89","353.89","212.79","141.10","0.0","0.0","0.0","Feb-2019","180.69","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 18.94%","146.51","D","D2","IT Supervisor","10+ years","MORTGAGE","92000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","985xx","WA","16.74","0","Feb-2006","0","","","10","0","5468","78.1%","13","w","3831.93","3831.93","286.71","286.71","168.07","118.64","0.0","0.0","0.0","Feb-2019","146.51","Mar-2019","Feb-2019","0","","1","Individual","","","","0","686","305049","1","5","3","5","5","30683","68","0","0","3761","70","7000","2","4","3","5","30505","1239","75.2","0","0","62","154","64","5","3","64","","5","","0","1","2","1","2","7","2","3","2","10","0","0","0","3","100","100","0","0","385183","36151","5000","44984","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 16.14%","731.78","C","C4","Mechanic","10+ years","MORTGAGE","57250","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","212xx","MD","26.35","0","Dec-2000","0","","","12","0","829","3.6%","26","w","29339.02","29339.02","1423.21","1423.21","660.98","762.23","0.0","0.0","0.0","Feb-2019","731.78","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","116007","3","5","3","5","4","28845","89","2","4","516","54","23100","1","0","0","9","9667","8471","8.9","0","0","53","216","2","2","2","2","","13","","0","2","2","3","8","9","6","15","2","12","0","0","0","5","92.3","0","0","0","157548","29674","9300","32332","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5550","5550","5550"," 36 months"," 15.02%","192.45","C","C3","Director COE","10+ years","MORTGAGE","152500","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","461xx","IN","37.94","0","Sep-2002","3","","","18","0","53854","48.1%","44","w","5302.50","5302.50","377.95","377.95","247.50","130.45","0.0","0.0","0.0","Feb-2019","192.45","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","685749","1","7","2","3","4","131524","72","1","4","17584","58","111900","2","4","6","8","40338","23746","64","0","0","195","176","10","4","6","20","","3","","0","4","6","6","10","23","9","15","7","18","0","0","0","4","100","60","0","0","831687","185378","65900","203159","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","2000","2000","2000"," 36 months"," 17.97%","72.28","D","D1","Account Manager","4 years","RENT","51000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","606xx","IL","2.4","0","Nov-2004","1","","","1","0","0","","9","w","1914.71","1914.71","141.56","141.56","85.29","56.27","0.0","0.0","0.0","Feb-2019","72.28","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","854","0","0","2","3","7","0","","0","1","0","100","0","0","0","1","4","854","","","0","0","169","40","23","7","0","","","1","","0","0","0","0","3","5","0","3","0","1","0","0","0","2","100","","0","0","854","854","0","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","6000","6000","6000"," 36 months"," 13.56%","203.79","C","C1","Assistant Director","10+ years","RENT","65000","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","460xx","IN","30.1","0","Nov-1997","0","","","19","0","38476","69.3%","37","w","5864.01","5864.01","201.53","201.53","135.99","65.54","0.0","0.0","0.0","Feb-2019","208.31","Mar-2019","Feb-2019","0","","1","Individual","","","","0","0","91535","0","5","0","1","23","53059","87","0","2","9413","74","55500","1","2","0","3","5085","3034","90.8","0","0","169","253","13","13","1","14","","13","","0","7","12","8","10","15","14","20","12","19","0","0","0","0","100","85.7","0","0","117242","91535","33100","61742","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [0]:
import pandas as pd

loanstats = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

In [126]:
pd.options.display.max_columns = 20
pd.options.display.max_rows = 20

loanstats.shape

(128412, 149)

In [67]:
loanstats.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,Feb-2019,84.92,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94%,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,Jun-1987,0,71.0,75.0,13,1,12315,24.2%,44,w,29387.75,29387.75,1507.11,1507.11,612.25,894.86,0.0,0.0,0.0,Feb-2019,777.23,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1208,321915,4,4,2,3,3.0,87153,88.0,4,5,998,57.0,50800,2,15,2,10,24763.0,13761.0,8.3,0,0,163.0,378,4,3,3,4.0,NaN,4.0,NaN,0,2,4,4,9,27,8,14,4,13,0.0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4787.21,4787.21,353.89,353.89,212.79,141.10,0.0,0.0,0.0,Feb-2019,180.69,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94%,146.51,D,D2,IT Supervisor,10+ years,MORTGAGE,92000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,985xx,WA,16.74,0,Feb-2006,0,NaN,NaN,10,0,5468,78.1%,13,w,3831.93,3831.93,286.71,286.71,168.07,118.64,0.0,0.0,0.0,Feb-2019,146.51,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,686,305049,1,5,3,5,5.0,30683,68.0,0,0,3761,70.0,7000,2,4,3,5,30505.0,1239.0,75.2,0,0,62.0,154,64,5,3,64.0,NaN,5.0,NaN,0,1,2,1,2,7,2,3,2,10,0.0,0,0,3,100.0,100.0,0,0,385183,36151,5000,44984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14%,731.78,C,C4,Mechanic,10+ years,MORTGAGE,57250.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,212xx,MD,26.35,0,Dec-2000,0,NaN,NaN,12,0,829,3.6%,26,w,29339.02,29339.02,1423.21,1423.21,660.98,762.23,0.0,0.0,0.0,Feb-2019,731.78,Mar-2019,Feb-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,116007,3,5,3,5,4.0,28845,89.0,2,4,516,54.0,23100,1,0,0,9,9667.0,8471.0,8.9,0,0,53.0,216,2,2,2,2.0,NaN,13.0,NaN,0,2,2,3,8,9,6,15,2,12,0.0,0,0,5,92.3,0.0,0,0,157548,29674,9300,32332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
loanstats.isnull().sum().sort_values()

total_cu_tl                                        0
mo_sin_old_rev_tl_op                               0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
inq_fi                                             0
total_rev_hi_lim                                   0
max_bal_bc                                         0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
debt_settlement_flag                               0
open_il_12m                                        0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
num_accts_ever_120_pd                              0
hardship_flag                                      0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
policy_code                                        0
num_tl_90g_dpd_24m                                 0
num_sats                                           0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
num_tl_30dpd                                       0
collections_12_mths_ex_med                         0
open_il_24m                                        0
disbursement_method                                0
pub_rec                                            0
open_acc                                           0
grade                                              0
sub_grade                                          0
home_ownership                                     0
annual_inc                                         0
verification_status                                0
purpose                                            0
inq_last_6mths                                     0
issue_d                                            0
delinq_2yrs                                        0
addr_state                                         0
zip_code                                           0
last_pymnt_amnt                                    0
loan_status                                        0
pymnt_plan                                         0
earliest_cr_line                                   0
total_acc                                          0
revol_bal                                          0
total_rec_late_fee                                 0
loan_amnt                                          0
collection_recovery_fee                            0
recoveries                                         0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
installment                                        0
total_rec_int                                      0
title                                              0
total_pymnt_inv                                    0
total_pymnt                                        0
out_prncp_inv                                      0
out_prncp                                          0
int_rate                                           0
initial_list_status                                0
total_rec_prncp                                    0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     162
dti                                              237
mths_since_recent_bc                            1591
bc_open_to_buy                                  1691
percent_bc_gt_75                                1692
bc_util                                         1754
num_tl_120dpd_2m                                2859
next_pymnt_d                                    3471
mo_sin_old_il_acct                              4478
mths_since_rcnt_il                              4478
emp_length                                     11704
mths_since_recent_inq                          16047
il_util                                        20274
emp_title                                      20947
mths_since_last_delinq                         72196
mths_since_recent_revol_delinq                 91630
mths_since_last_major_derog                    99232
mths_since_recent_bc_dlq                      103243
sec_app_chargeoff_within_12_mths              111630
dti_joint                                     111630
annual_inc_joint                              111630
sec_app_collections_12_mths_ex_med            111630
revol_bal_joint                               111630
sec_app_earliest_cr_line                      111630
sec_app_inq_last_6mths                        111630
sec_app_mort_acc                              111630
sec_app_open_acc                              111630
sec_app_open_act_il                           111630
sec_app_num_rev_accts                         111630
sec_app_revol_util                            111888
mths_since_last_record                        112962
verification_status_joint                     113564
sec_app_mths_since_last_major_derog           123258
settlement_date                               128410
settlement_amount                             128410
debt_settlement_flag_date                     128410
settlement_status                             128410
settlement_term                               128410
settlement_percentage                         128410
deferral_term                                 128411
hardship_type                                 128411
hardship_reason                               128411
hardship_last_payment_amount                  128411
hardship_status                               128411
orig_projected_additional_accrued_interest    128411
hardship_payoff_balance_amount                128411
hardship_dpd                                  128411
hardship_length                               128411
payment_plan_start_date                       128411
hardship_end_date                             128411
hardship_start_date                           128411
hardship_amount                               128411
hardship_loan_status                          128411
desc                                          128412
url                                           128412
member_id                                     128412
id                                            128412
dtype: int64

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [54]:
loanstats.dtypes

loanstats.describe(exclude='number')

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date
count,128412,128412,128412,128412,107465,116708,128412,128412,128412,128412,128412,128412,128412,128412,128412,128412,128256,128412,128250,124941,128411,128412,14848,16782,128412,1,1,1,1,1,1,1,128412,128412,2,2,2
unique,2,46,7,35,43892,11,4,3,3,6,2,12,12,880,50,644,1074,2,5,3,7,2,3,573,2,1,1,1,1,1,1,1,2,2,1,1,1
top,36 months,13.56%,A,A4,Teacher,10+ years,MORTGAGE,Not Verified,Oct-2018,Current,n,debt_consolidation,Debt consolidation,112xx,CA,Aug-2006,0%,w,Feb-2019,Mar-2019,Feb-2019,Individual,Not Verified,Aug-2006,N,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,ACTIVE,Feb-2019,Apr-2019,Feb-2019,Late (16-30 days),Cash,N,Feb-2019,ACTIVE,Feb-2019
freq,88179,6976,38011,9770,2090,38826,63490,58350,46305,123768,128411,70603,70603,1370,17879,1130,1132,114498,123797,124903,125061,111630,6360,155,128411,1,1,1,1,1,1,1,102516,128410,2,2,2

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [55]:
'13.56%'.strip('%')

'13.56'

Apply the function to the `int_rate` column

In [56]:
float('13.56')

13.56

In [57]:
loanstats['int_rate'].head()

0     13.56%
1     18.94%
2     17.97%
3     18.94%
4     16.14%
Name: int_rate, dtype: object

In [58]:
loanstats['int_rate'].str.strip('%').head()

0     13.56
1     18.94
2     17.97
3     18.94
4     16.14
Name: int_rate, dtype: object

In [68]:
#loanstats['int_rate'] = loanstats['int_rate'].str.strip('%').astype(float)

loanstats['int_rate'].head()

0     13.56%
1     18.94%
2     17.97%
3     18.94%
4     16.14%
Name: int_rate, dtype: object

In [71]:
def remove_percent(string): 
  return float(string.strip('%'))

#loanstats['int_rate'] = loanstats['int_rate'].apply(remove_percent)  #Needs to be commented out after use, because it can only be applied once. 
  
loanstats['int_rate'].head()

0    13.56
1    18.94
2    17.97
3    18.94
4    16.14
Name: int_rate, dtype: float64

### Clean `emp_title`

Look at top 20 titles

In [74]:
loanstats['emp_title'].head(20)

loanstats['emp_title'].value_counts().head(20)

Teacher                     2090
Manager                     1773
Registered Nurse             952
Driver                       924
RN                           726
Supervisor                   697
Sales                        580
Project Manager              526
General Manager              523
Office Manager               521
Owner                        420
Director                     402
Truck Driver                 387
Operations Manager           387
Nurse                        326
Engineer                     325
Sales Manager                304
manager                      301
Supervisor                   270
Administrative Assistant     269
Name: emp_title, dtype: int64

How often is `emp_title` null?

In [76]:
loanstats['emp_title'].isnull()

loanstats['emp_title'].isnull().sum()

20947

Clean the title and handle missing values

1.   Capitalize
2.  Strip spaces
3. Replace NaN with 'Missing'

In [84]:
import numpy as np 

examples = ['owner', 'Supervisor ', ' Project Manager', np.nan]

def clean_title(x): 
  if isinstance(x, str): 
   return x.strip().title()
  else: 
    return 'Unknown'
  
[clean_title(x) for x in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [85]:
loanstats['emp_title'].head(10)

0                   Chef
1            Postmaster
2         Administrative
3          IT Supervisor
4               Mechanic
5           Director COE
6        Account Manager
7     Assistant Director
8    Legal Assistant III
9                    NaN
Name: emp_title, dtype: object

In [86]:
loanstats['emp_title'].apply(clean_title).head(10)

0                   Chef
1             Postmaster
2         Administrative
3          It Supervisor
4               Mechanic
5           Director Coe
6        Account Manager
7     Assistant Director
8    Legal Assistant Iii
9                Unknown
Name: emp_title, dtype: object

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [0]:
loanstats['emp_title_manager'] = loanstats['emp_title'].str.contains('Manager')

In [93]:
loanstats['emp_title_manager'].value_counts(normalize=True)

False    0.869055
True     0.130945
Name: emp_title_manager, dtype: float64

In [96]:
loanstats.groupby('emp_title_manager')['int_rate'].mean()

emp_title_manager
False    12.954774
True     12.655238
Name: int_rate, dtype: float64

In [97]:
loanstats.isnull().sum().sort_values(ascending=False) / len(loanstats)

id                                            1.000000
desc                                          1.000000
url                                           1.000000
member_id                                     1.000000
hardship_dpd                                  0.999992
hardship_reason                               0.999992
hardship_status                               0.999992
deferral_term                                 0.999992
hardship_amount                               0.999992
hardship_start_date                           0.999992
hardship_end_date                             0.999992
payment_plan_start_date                       0.999992
hardship_length                               0.999992
hardship_type                                 0.999992
hardship_loan_status                          0.999992
orig_projected_additional_accrued_interest    0.999992
hardship_payoff_balance_amount                0.999992
hardship_last_payment_amount                  0.999992
settlement_term                               0.999984
debt_settlement_flag_date                     0.999984
settlement_status                             0.999984
settlement_date                               0.999984
settlement_amount                             0.999984
settlement_percentage                         0.999984
sec_app_mths_since_last_major_derog           0.959864
verification_status_joint                     0.884372
mths_since_last_record                        0.879684
sec_app_revol_util                            0.871320
sec_app_open_act_il                           0.869311
sec_app_num_rev_accts                         0.869311
sec_app_open_acc                              0.869311
sec_app_mort_acc                              0.869311
sec_app_inq_last_6mths                        0.869311
sec_app_earliest_cr_line                      0.869311
revol_bal_joint                               0.869311
sec_app_chargeoff_within_12_mths              0.869311
sec_app_collections_12_mths_ex_med            0.869311
annual_inc_joint                              0.869311
dti_joint                                     0.869311
mths_since_recent_bc_dlq                      0.803998
mths_since_last_major_derog                   0.772763
mths_since_recent_revol_delinq                0.713563
mths_since_last_delinq                        0.562222
emp_title                                     0.163123
emp_title_manager                             0.163123
il_util                                       0.157882
mths_since_recent_inq                         0.124965
emp_length                                    0.091144
mths_since_rcnt_il                            0.034872
mo_sin_old_il_acct                            0.034872
next_pymnt_d                                  0.027030
num_tl_120dpd_2m                              0.022264
bc_util                                       0.013659
percent_bc_gt_75                              0.013176
bc_open_to_buy                                0.013169
mths_since_recent_bc                          0.012390
dti                                           0.001846
last_pymnt_d                                  0.001262
revol_util                                    0.001215
all_util                                      0.000288
avg_cur_bal                                   0.000101
last_credit_pull_d                            0.000008
earliest_cr_line                              0.000000
inq_last_6mths                                0.000000
total_bal_ex_mort                             0.000000
total_bc_limit                                0.000000
num_tl_30dpd                                  0.000000
open_acc                                      0.000000
pub_rec                                       0.000000
revol_bal                                     0.000000
delinq_2yrs                                   0.000000
initial_list_status                           0.000000
out_prncp                                     0.000000
out_prncp_inv                                 0.000000
total_pymnt                                   0.000000
total_pymnt_inv                               0.000000
total_rec_prncp                               0.000000
total_acc                                     0.000000
title                                         0.000000
addr_state                                    0.000000
disbursement_method                           0.000000
debt_settlement_flag                          0.000000
loan_amnt                                     0.000000
funded_amnt                                   0.000000
funded_amnt_inv                               0.000000
term                                          0.000000
int_rate                                      0.000000
installment                                   0.000000
grade                                         0.000000
sub_grade                                     0.000000
home_ownership                                0.000000
zip_code                                      0.000000
annual_inc                                    0.000000
verification_status                           0.000000
issue_d                                       0.000000
loan_status                                   0.000000
pymnt_plan                                    0.000000
hardship_flag                                 0.000000
total_il_high_credit_limit                    0.000000
purpose                                       0.000000
total_rec_late_fee                            0.000000
total_rec_int                                 0.000000
tot_hi_cred_lim                               0.000000
recoveries                                    0.000000
num_accts_ever_120_pd                         0.000000
chargeoff_within_12_mths                      0.000000
delinq_amnt                                   0.000000
mo_sin_old_rev_tl_op                          0.000000
mo_sin_rcnt_rev_tl_op                         0.000000
mo_sin_rcnt_tl                                0.000000
mort_acc                                      0.000000
num_tl_op_past_12m                            0.000000
num_tl_90g_dpd_24m                            0.000000
num_actv_bc_tl                                0.000000
inq_last_12m                                  0.000000
num_actv_rev_tl                               0.000000
num_bc_sats                                   0.000000
num_bc_tl                                     0.000000
num_il_tl                                     0.000000
num_op_rev_tl                                 0.000000
num_rev_accts                                 0.000000
num_rev_tl_bal_gt_0                           0.000000
num_sats                                      0.000000
acc_open_past_24mths                          0.000000
pct_tl_nvr_dlq                                0.000000
collection_recovery_fee                       0.000000
tot_cur_bal                                   0.000000
last_pymnt_amnt                               0.000000
collections_12_mths_ex_med                    0.000000
policy_code                                   0.000000
application_type                              0.000000
tax_liens                                     0.000000
pub_rec_bankruptcies                          0.000000
acc_now_delinq                                0.000000
tot_coll_amt                                  0.000000
open_acc_6m                                   0.000000
inq_fi                                        0.000000
open_act_il                                   0.000000
open_il_12m                                   0.000000
open_il_24m                                   0.000000
total_bal_il                                  0.000000
open_rv_12m                                   0.000000
open_rv_24m                                   0.000000
max_bal_bc                                    0.000000
total_rev_hi_lim                              0.000000
total_cu_tl                                   0.000000
dtype: float64

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [103]:
loanstats['issue_d'].head().values

array(['Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018'],
      dtype=object)

In [104]:
loanstats['issue_d'].describe()

count       128412
unique           3
top       Oct-2018
freq         46305
Name: issue_d, dtype: object

In [0]:
loanstats['issue_d'] = pd.to_datetime(loanstats['issue_d'], infer_datetime_format=True)

In [112]:
loanstats['issue_d'].head().values

array(['1970-01-01T00:00:00.000002018', '1970-01-01T00:00:00.000002018',
       '1970-01-01T00:00:00.000002018', '1970-01-01T00:00:00.000002018',
       '1970-01-01T00:00:00.000002018'], dtype='datetime64[ns]')

In [108]:
loanstats['issue_d'].describe()

count                  128412
unique                      3
top       2018-10-01 00:00:00
freq                    46305
first     2018-10-01 00:00:00
last      2018-12-01 00:00:00
Name: issue_d, dtype: object

In [0]:
loanstats['issue_year'] = loanstats['issue_d'].dt.year

loanstats['issue_year']

In [0]:
loanstats['issue_month'] = loanstats['issue_d'].dt.month

loanstats['issue_month']

In [121]:
pd.to_datetime(loanstats['earliest_cr_line'], infer_datetime_format=True)

loanstats['earliest_cr_line'] = pd.to_datetime(loanstats['earliest_cr_line'], infer_datetime_format=True)

loanstats['earliest_cr_line']

0        2001-04-01
1        1987-06-01
2        2011-04-01
3        2006-02-01
4        2000-12-01
5        2002-09-01
6        2004-11-01
7        1997-11-01
8        1998-08-01
9        2002-04-01
10       2007-05-01
11       2003-12-01
12       2003-06-01
13       2008-10-01
14       1990-07-01
15       1988-12-01
16       2002-12-01
17       2010-10-01
18       2005-07-01
19       2001-02-01
20       2004-12-01
21       2001-10-01
22       2003-09-01
23       2004-10-01
24       2010-09-01
25       1999-10-01
26       2007-05-01
27       1997-02-01
28       1995-01-01
29       2005-08-01
30       2005-08-01
31       2005-04-01
32       2005-10-01
33       2006-11-01
34       1999-09-01
35       2006-09-01
36       1996-08-01
37       2015-05-01
38       1999-11-01
39       1998-12-01
40       1989-08-01
41       2006-02-01
42       2012-04-01
43       2012-09-01
44       2011-01-01
45       2013-07-01
46       2005-07-01
47       2011-09-01
48       1999-08-01
49       1991-12-01
50       2007-11-01
51       2007-10-01
52       1986-07-01
53       2014-11-01
54       1995-04-01
55       1992-07-01
56       2006-08-01
57       1988-10-01
58       2005-02-01
59       2002-08-01
60       2003-10-01
61       2004-04-01
62       2005-08-01
63       2012-04-01
64       2007-06-01
65       1990-08-01
66       1990-12-01
67       1997-07-01
68       2007-10-01
69       1988-09-01
70       2008-09-01
71       1999-02-01
72       2007-04-01
73       2004-08-01
74       2006-12-01
75       2006-09-01
76       2007-03-01
77       2006-10-01
78       2014-07-01
79       2005-05-01
80       2004-12-01
81       2006-10-01
82       1995-06-01
83       2014-03-01
84       2003-02-01
85       2002-09-01
86       2007-08-01
87       1996-07-01
88       2014-11-01
89       1991-01-01
90       1998-08-01
91       1988-09-01
92       2008-08-01
93       2007-12-01
94       2008-08-01
95       1997-09-01
96       2000-01-01
97       2005-01-01
98       2007-02-01
99       2005-12-01
100      2012-01-01
101      2004-10-01
102      1997-12-01
103      2009-03-01
104      1989-04-01
105      2006-06-01
106      2014-01-01
107      2009-06-01
108      2005-07-01
109      1975-05-01
110      2014-04-01
111      1996-10-01
112      2003-12-01
113      2007-05-01
114      1999-03-01
115      1994-12-01
116      2008-01-01
117      2014-04-01
118      1999-07-01
119      2014-02-01
120      2000-10-01
121      2010-08-01
122      1993-03-01
123      2009-05-01
124      1993-08-01
125      1997-12-01
126      1998-05-01
127      1998-09-01
128      2011-08-01
129      1984-11-01
130      2000-04-01
131      2005-08-01
132      2004-11-01
133      2003-04-01
134      2007-06-01
135      2003-05-01
136      1996-02-01
137      1996-01-01
138      2003-02-01
139      2011-01-01
140      2005-03-01
141      2003-09-01
142      2001-08-01
143      2000-10-01
144      2011-10-01
145      1974-03-01
146      2007-07-01
147      1998-02-01
148      2006-01-01
149      2006-03-01
150      2003-08-01
151      2011-04-01
152      2009-06-01
153      2004-10-01
154      2008-01-01
155      2004-05-01
156      2013-11-01
157      2009-01-01
158      2004-11-01
159      2001-08-01
160      2003-09-01
161      2006-12-01
162      2006-09-01
163      2007-03-01
164      2002-01-01
165      1984-09-01
166      2007-07-01
167      2010-07-01
168      2002-01-01
169      2007-10-01
170      1999-02-01
171      1998-03-01
172      1991-06-01
173      2007-04-01
174      1996-09-01
175      2006-09-01
176      1991-09-01
177      1995-04-01
178      1997-12-01
179      2004-12-01
180      1999-10-01
181      2009-01-01
182      1996-09-01
183      1998-03-01
184      2012-09-01
185      1991-03-01
186      2003-12-01
187      1998-09-01
188      2011-08-01
189      2010-08-01
190      1999-04-01
191      2009-08-01
192      2004-12-01
193      2007-10-01
194      2001-11-01
195      2004-12-01
196      2005-03-01
197      2006-04-01
198      1999-02-01
199      2009-12-01
200      2005-04-01
201      1986-11-01
202      2004-01-01
203      2002-11-01
204      1994-09-01
205      1996-08-01
206      2004-08-01
207      2000-03-01
208      2015-06-01
209      2013-04-01
210      2000-09-01
211      2001-04-01
212      1979-06-01
213      1989-12-01
214      2005-07-01
215      1997-10-01
216      2000-08-01
217      1987-08-01
218      2007-07-01
219      2008-10-01
220      1991-07-01
221      1988-04-01
222      2014-10-01
223      2006-11-01
224      2014-10-01
225      2002-07-01
226      2009-09-01
227      2010-05-01
228      2001-10-01
229      2014-10-01
230      1985-09-01
231      2004-10-01
232      1991-02-01
233      2003-11-01
234      1999-03-01
235      2010-03-01
236      2007-05-01
237      2005-05-01
238      2007-10-01
239      2010-07-01
240      1995-07-01
241      1997-10-01
242      2001-04-01
243      2000-04-01
244      1994-10-01
245      1987-07-01
246      2009-10-01
247      1997-01-01
248      2003-12-01
249      1993-10-01
            ...
128162   2000-04-01
128163   1990-05-01
128164   1999-07-01
128165   1983-07-01
128166   2009-08-01
128167   2003-10-01
128168   1992-05-01
128169   2007-03-01
128170   2002-01-01
128171   1982-08-01
128172   2007-08-01
128173   1999-07-01
128174   2015-05-01
128175   2007-03-01
128176   1999-10-01
128177   2001-09-01
128178   1999-09-01
128179   2008-05-01
128180   2007-02-01
128181   2010-10-01
128182   2005-05-01
128183   2011-08-01
128184   2004-04-01
128185   2006-06-01
128186   2007-07-01
128187   1989-07-01
128188   2000-03-01
128189   1984-11-01
128190   2005-11-01
128191   2005-07-01
128192   2007-08-01
128193   2009-02-01
128194   2001-08-01
128195   2006-08-01
128196   1998-08-01
128197   2004-04-01
128198   2004-06-01
128199   1999-07-01
128200   2008-03-01
128201   2004-03-01
128202   2008-10-01
128203   1989-11-01
128204   2001-11-01
128205   2008-06-01
128206   2007-08-01
128207   2014-03-01
128208   1998-10-01
128209   2005-04-01
128210   2006-02-01
128211   2005-10-01
128212   1990-10-01
128213   2001-09-01
128214   2004-02-01
128215   2000-10-01
128216   2000-11-01
128217   2010-05-01
128218   2008-09-01
128219   2002-02-01
128220   2009-11-01
128221   2006-06-01
128222   2005-08-01
128223   1996-04-01
128224   1996-10-01
128225   2002-06-01
128226   2008-07-01
128227   2000-06-01
128228   2005-07-01
128229   2005-11-01
128230   1997-02-01
128231   2006-05-01
128232   2001-12-01
128233   1978-08-01
128234   1998-12-01
128235   2003-06-01
128236   1999-11-01
128237   2007-01-01
128238   1996-03-01
128239   1996-06-01
128240   2007-06-01
128241   1979-11-01
128242   2006-08-01
128243   2003-03-01
128244   1997-10-01
128245   2008-03-01
128246   2007-03-01
128247   2004-09-01
128248   2000-10-01
128249   2002-01-01
128250   1985-01-01
128251   2007-06-01
128252   1999-08-01
128253   2006-08-01
128254   2003-09-01
128255   2004-01-01
128256   2011-06-01
128257   1985-02-01
128258   2002-12-01
128259   2004-12-01
128260   2007-07-01
128261   1997-01-01
128262   1973-12-01
128263   1997-12-01
128264   1989-05-01
128265   2000-01-01
128266   2013-08-01
128267   2011-01-01
128268   1991-12-01
128269   2005-07-01
128270   2001-11-01
128271   2008-07-01
128272   2003-08-01
128273   1992-09-01
128274   2000-11-01
128275   1994-07-01
128276   2008-12-01
128277   2003-02-01
128278   2005-08-01
128279   1998-11-01
128280   2003-08-01
128281   1986-05-01
128282   2003-06-01
128283   2003-10-01
128284   2004-11-01
128285   2005-02-01
128286   2011-09-01
128287   1990-04-01
128288   2003-03-01
128289   2007-06-01
128290   1994-12-01
128291   2004-10-01
128292   1993-12-01
128293   1997-01-01
128294   1993-07-01
128295   2005-02-01
128296   1983-12-01
128297   1996-11-01
128298   2004-11-01
128299   1998-10-01
128300   1998-11-01
128301   1989-05-01
128302   1992-03-01
128303   2012-04-01
128304   2010-02-01
128305   2012-02-01
128306   2006-01-01
128307   1997-09-01
128308   2000-01-01
128309   1995-04-01
128310   1987-01-01
128311   1974-04-01
128312   2005-09-01
128313   1998-09-01
128314   2003-09-01
128315   1997-09-01
128316   2015-01-01
128317   1999-07-01
128318   2008-12-01
128319   2003-02-01
128320   2010-01-01
128321   1995-10-01
128322   2002-02-01
128323   2003-12-01
128324   1996-01-01
128325   2004-06-01
128326   2006-11-01
128327   2010-01-01
128328   1999-09-01
128329   2004-08-01
128330   2009-02-01
128331   1996-04-01
128332   2005-09-01
128333   1995-06-01
128334   2010-11-01
128335   2008-08-01
128336   2008-06-01
128337   1999-10-01
128338   2006-08-01
128339   2005-07-01
128340   1999-11-01
128341   2014-03-01
128342   2000-03-01
128343   2003-08-01
128344   2003-01-01
128345   2015-03-01
128346   1986-11-01
128347   2006-03-01
128348   1982-01-01
128349   2000-12-01
128350   1996-02-01
128351   2008-07-01
128352   2006-10-01
128353   1996-11-01
128354   1979-09-01
128355   2009-12-01
128356   1988-01-01
128357   2001-06-01
128358   1997-06-01
128359   1994-10-01
128360   2001-01-01
128361   2012-12-01
128362   1999-08-01
128363   2007-07-01
128364   2006-04-01
128365   1987-04-01
128366   2010-01-01
128367   1995-09-01
128368   2009-01-01
128369   1999-01-01
128370   1997-02-01
128371   1995-10-01
128372   2005-06-01
128373   1997-05-01
128374   1998-11-01
128375   2012-06-01
128376   1989-09-01
128377   2003-11-01
128378   2005-03-01
128379   2003-08-01
128380   1991-08-01
128381   2010-12-01
128382   2011-10-01
128383   1999-07-01
128384   2001-11-01
128385   2007-09-01
128386   2000-01-01
128387   2000-04-01
128388   2010-09-01
128389   1993-12-01
128390   2005-02-01
128391   1999-06-01
128392   2004-03-01
128393   2006-06-01
128394   1997-04-01
128395   2006-06-01
128396   1991-04-01
128397   1999-04-01
128398   2007-11-01
128399   2003-06-01
128400   2001-10-01
128401   2003-12-01
128402   2015-04-01
128403   2005-10-01
128404   2003-11-01
128405   1987-04-01
128406   2012-08-01
128407   1985-08-01
128408   1982-07-01
128409   2006-06-01
128410   2008-10-01
128411   2006-09-01
Name: earliest_cr_line, Length: 128412, dtype: datetime64[ns]

In [0]:
loanstats['issue_d'] - loanstats['earliest_cr_line']

In [127]:
loanstats['days_credit_to_issue'] = (loanstats['issue_d'] - loanstats['earliest_cr_line']).dt.days

loanstats.shape

loanstats['days_credit_to_issue']

0        -11413
1         -6360
2        -15065
3        -13180
4        -11292
5        -11931
6        -12723
7        -10166
8        -10439
9        -11778
          ...
128402   -16526
128403   -13057
128404   -12357
128405    -6299
128406   -15553
128407    -5691
128408    -4564
128409   -13300
128410   -14153
128411   -13392
Name: days_credit_to_issue, Length: 128412, dtype: int64

In [130]:
[col for col in loanstats if col.endswith('_d')]:

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
for col in ['last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']: 
            loanstats[col] = pd.to_datetime(loanstats[col], infer_datetime_format=True)

In [133]:
loanstats.describe(include='datetime')

,issue_d,earliest_cr_line,last_pymnt_d,next_pymnt_d,last_credit_pull_d
count,128412,128412,128250,124941,128411
unique,1,644,5,3,7
top,1970-01-01 00:00:00.000002018,2006-08-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-02-01 00:00:00
freq,128412,1130,123797,124903,125061
first,1970-01-01 00:00:00.000002018,1950-01-01 00:00:00,2018-10-01 00:00:00,2019-02-01 00:00:00,2018-08-01 00:00:00
last,1970-01-01 00:00:00.000002018,2015-11-01 00:00:00,2019-02-01 00:00:00,2019-04-01 00:00:00,2019-02-01 00:00:00

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [134]:
loanstats['term']

0          36 months
1          60 months
2          36 months
3          36 months
4          60 months
5          36 months
6          36 months
7          36 months
8          36 months
9          36 months
             ...
128402     36 months
128403     60 months
128404     36 months
128405     60 months
128406     36 months
128407     36 months
128408     36 months
128409     36 months
128410     36 months
128411     36 months
Name: term, Length: 128412, dtype: object

In [135]:
loanstats['loan_status']

0             Current
1             Current
2             Current
3             Current
4             Current
5             Current
6             Current
7             Current
8             Current
9             Current
             ...
128402        Current
128403        Current
128404        Current
128405        Current
128406        Current
128407    Charged Off
128408        Current
128409        Current
128410        Current
128411        Current
Name: loan_status, Length: 128412, dtype: object

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01